{{ $page := .Page }}

{{/* Writers */}}
{{ with $page.Params.authors }}
  <div class="credits-line">
    {{ $writerIcon := resources.Get "images/GDEmotes/Badges/writer.png" }}
    <img src="{{ $writerIcon.RelPermalink }}" class="smallemote hover-scale" title="Main Writers">

    Written by

    {{- $authors := partial "sort-contributor-strings.html" (dict "contributors" . "context" $) -}}

    {{- range $index, $author := $authors -}}
      {{- if gt $index 0 -}}
        {{- if eq $index (sub (len $authors) 1) }} and {{ else }}, {{ end -}}
      {{- end }}

      <a href="/contributors/{{ $author.username | lower }}" target="_blank" rel="noopener">
        {{- $author.preferredName -}}
      </a>
    {{- end -}}
  </div>
{{- end -}}

{{/* Contributors, excluding authors */}}
{{ with $page.Params.contributors }}
  {{ $contributors := partial "sort-contributor-strings.html" (dict "contributors" . "context" $) }}

  {{ $nonAuthors := slice }}

  {{ range $contributors }}
    {{ if not (in $page.Params.authors .username) }}
      {{ $nonAuthors = $nonAuthors | append . }}
    {{ end }}
  {{ end }}

  {{ if gt (len $nonAuthors) 0 }}
    <div class="credits-line">
      {{ $contributorIcon := resources.Get "images/GDEmotes/Buttons/+2.png" }}
      <img src="{{ $contributorIcon.RelPermalink }}" class="smallemote hover-scale" title="Contributors">

      Contributions by

      {{- range $index, $contributor := $nonAuthors -}}
        {{- if gt $index 0 -}}
          {{- if eq $index (sub (len $nonAuthors) 1) }} and {{ else }}, {{ end -}}
        {{- end }}

        <a href="/contributors/{{ $contributor.username | lower }}" target="_blank" rel="noopener">
          {{- $contributor.preferredName -}}
        </a>
      {{- end -}}
    </div>
  {{ end }}
{{ end }}