<span class="icon icon-tabler icon-tabler-user-edit" title="{{ i18n "reading_time" }}">{{/* trim subsequent whitespace */ -}}

  {{ $readingIcon := resources.Get "images/GDEmotes/Badges/readingtime.png" }}
  <img src="{{ $readingIcon.RelPermalink }}" class="smallemote hover-scale" title="Reading Time">

  {{ $speed1 := 200 }} {{ $min1 := div .WordCount $speed1 }}
  {{ $speed2 := 150 }} {{ $min2 := div .WordCount $speed2 | math.Max (add $min1 1) }}
  {{ $meanMinutes := div (add $min1 $min2) 2 }}

  {{ $label := "" }}

  {{ if lt $meanMinutes 4 }}
    {{ $label = "Tiny" }}
  {{ else if lt $meanMinutes  10 }}
    {{ $label = "Short" }}
  {{ else if lt $meanMinutes 20 }}
    {{ $label = "Medium" }}
  {{ else if lt $meanMinutes 40 }}
    {{ $label = "Long" }}
  {{ else }}
    {{ $label = "XL" }}
  {{ end }}

  {{ $label }} ({{ $min1 }}-{{ $min2 }} minutes)

</span>